<div class="events-list">
  <div class="margin-15">
    <button mat-raised-button [color]="'primary'" (click)="addEvent()">Dodaj wydarzenie</button>
  </div>
  <mat-nav-list>
    <mat-list-item *ngFor="let event of events">
      <a matLine (click)="openDetails(event)">{{ event.name }}</a>
      <button class="margin-right-5" mat-raised-button (click)="openDetails(event)">Szczegóły</button>
      <button class="margin-right-5" mat-raised-button [color]="'primary'" *ngIf="!event.activated" (click)="activate(event)">Aktywuj</button>
      <button class="margin-right-5" mat-raised-button [color]="'warn'" *ngIf="event.activated" (click)="deactivate(event)">Deaktywuj</button>
    </mat-list-item>
  </mat-nav-list>
</div>