<div class="chats">
  <button mat-raised-button [color]="'primary'" (click)="addChat()">Dodaj czat</button>
  <mat-nav-list>
    <mat-list-item *ngFor="let chat of chats" (click)="openDetails(chat)">
      <a matLine>{{ chat.name }}</a>
      <button mat-raised-button [color]="'primary'" *ngIf="!chat.activated" (click)="join(chat)">Dołącz</button>
      <button mat-raised-button [color]="'primary'" *ngIf="chat.activated" (click)="resign(chat)">Zrezygnuj</button>
    </mat-list-item>
  </mat-nav-list>
</div>