<div class="add-event">
    <div mat-dialog-title>Dodawanie czatu</div>
    <div mat-dialog-content>
      <form [formGroup]="addChatForm">
        <mat-form-field>
          <input matInput placeholder="Nazwa" name="name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Studenci" name="studentIds" formControlName="studentIds" multiple>
              <mat-option *ngFor="let student of students" [value]="student.id">{{student.name}}</mat-option>
            </mat-select>
          </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button [color]="'primary'" type="submit" (click)="addChat()">Dodaj</button>
      <button mat-raised-button [color]="'warn'" type="button" (click)="cancel()">Anuluj</button>
    </div>
  </div>