mat-sidenav-content {
    min-height: 90vh !important;
}

mat-sidenav {
    min-width: 100px !important;
    width: 30vw !important;
    max-width: 200px !important;
    background-color: #eee;
    border-right: #d2d2d2 solid 2px;
} 