.margin-15 {
    margin: 15px;
}

.students-list {

    h1 {
        margin-top: 15px;
        font-size: 16px;
        color: #696969;
        margin: 15px;
        font-family: Roboto,"Helvetica Neue",sans-serif;
    }
    
    mat-chip {
        cursor: pointer;
    }
}