.login-card {
  width: 600px;
  top: 50%;
  left: calc(50% - 300px);
}

.login-container {
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
  }
}

.login-button-container {
  display: flex;
  justify-content: flex-end;
}
