<ul>
    <li><a routerLink="studentslist"><i class="fa fa-fw fa-users"></i> Studenci</a></li>
    <li><a routerLink="events"><i class="fa fa-fw fa-list"></i> Zapisy</a></li>
    <li><a routerLink="entries"><i class="fa fa-fw fa-list"></i> Zapisz się!</a></li>
    <li><a routerLink="chats"><i class="fa fa-fw fa-comments"></i> Czat</a></li>
    <li><a routerLink="profile"><i class="fa fa-fw fa-user"></i> Mój profil</a></li>
    <li><a (click)="logout()"><i class="fa fa-fw fa-sign-out"></i> Wyloguj</a></li>
  </ul>
  