ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    font-family: Roboto,"Helvetica Neue",sans-serif;

    li a.active-menu {
        color: #673ab7;
    }

    li a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #757575;
    }
    
    li a:hover {
        background-color: #d2d2d2;
        color: #673ab7;
    }
}
